# Misc
*.iml
*.swo
*.swp
.DS_Store
._*

# NPM
npm-debug.log
/node_modules
/package-lock.json

# Credentials
credentials.json
development.json
production.json

# Quick tests
/test/

# nest-log output
/log/
