# Compiled output
/dist
/tmp
/packaging/tmp

# Misc
*.iml
*.swo
*.swp
.DS_Store
._*

# Packages
/node_modules

# Package manager lockfiles
/package-lock.json
/*.lock

# NPM
npm-debug.log

# Credentials
credentials.json
